<!doctype html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>

<body>

<div class="container">

  <header>
    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="#">Clients</a>
    </nav>
  </header>
  <div class="row">
    <div class="col-sm-11">
      <nav class="navbar">
        <input class="form-control" type="text" name="search" [(ngModel)]="filter">
      </nav>
    <table class="table table-bordered">



      <thead>
      <tr>
        <th (click)="sort('fullname')">Fullname<span class="glyphicon sort-icon" *ngIf="key =='fullname'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th>character</th>
        <th (click)="sort('age')">age<span class="glyphicon sort-icon" *ngIf="key =='age'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th (click)="sort('total_cash_remainings')">Total cash Remainings<span class="glyphicon sort-icon" *ngIf="key =='total_cash_remainings'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th (click)="sort('max_cash_remainings')">Max cash remainings<span class="glyphicon sort-icon" *ngIf="key =='max_cash_remainings'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th (click)="sort('min_cash_remainings')">Min cash remainings<span class="glyphicon sort-icon" *ngIf="key =='min_cash_remainings'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th>Remove</th>
        <th>Edit</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let client of clients | filter:filter; let i = index">
        <td>{{client.FIO}} </td>
        <td>{{client.character}}</td>
        <td>{{client.age}}</td>
        <td>{{client.total_cash_remainings}}</td>
        <td>{{client.max_remainings}}</td>
        <td>{{client.min_remainings}}</td>

        <td><button type="button" (click)="delete(client)" class="btn"><i class="fa fa-user-times"></i></button></td>
        <td><button (click)="openDialog(client)" class="btn btn-light">...</button></td>

      </tr>
      </tbody>

    </table></div>

    <div class="col-sm-1">
        <button id="addClientBtn" type="button" (click)="openAddDialog(null)" class="fa fa-user-plus"></button>
    </div>

  </div>

</div>

<!-- filter sort-->

<!--end -->




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
