<!doctype html>
<html lang="en">

<head>
  <title>Metodology</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>

<body>

<div class="container">

  <header>
    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="#">Clients</a>
    </nav>
  </header>
  <div class="row">


      <form class="filter-form">

        <div class="col-sm-11">
          <input #searchSurname id="searchSurnameInput" class="form-control" type="text" name="searchSurname">
          <input #searchName id="searchNameInput" class="form-control" type="text" name="searchName">
          <input #searchPatronymic id="searchPatronymicInput" class="form-control" type="text" name="searchPatronymic">
        </div>

        <div class="col-sm-1">
          <button type="submit" class="btn btn-light" id="searchSubmitBtn" name="submitSearch" (click)="searchFilter(searchSurname.value,searchName.value,searchPatronymic.value)">
            <i class="fa fa-search"></i>
          </button>
        </div>

      </form>

      <br><br><br>

    <div class="col-sm-11">
    <table class="table table-bordered" id="table">



      <thead>

      <tr>

        <th (click)="sort('fullname')">
          Fullname
          <i class="fa fa-fw fa-sort" *ngIf="key != 'fullname'"></i>
          <span class="glyphicon sort-icon" *ngIf="key =='fullname'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>

        <th>character</th>

        <th (click)="sort('dateOfBirth')">
          dateOfBirth
          <i class="fa fa-fw fa-sort" *ngIf="key != 'dateOfBirth'"></i>
          <span class="glyphicon sort-icon" *ngIf="key =='dateOfBirth'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>

        <th (click)="sort('totalCashRemainings')">
          Total cash Remainings
          <i class="fa fa-fw fa-sort" *ngIf="key != 'totalCashRemainings'"></i>
          <span class="glyphicon sort-icon" *ngIf="key =='totalCashRemainings'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>

        <th (click)="sort('max_cash_remainings')">
          Max cash remainings
          <i class="fa fa-fw fa-sort" *ngIf="key !='max_cash_remainings'" ></i>
          <span class="glyphicon sort-icon" *ngIf="key =='max_cash_remainings'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>

        <th (click)="sort('min_cash_remainings')">
          Min cash remainings
          <i class="fa fa-fw fa-sort" *ngIf="key !='min_cash_remainings'"></i>
          <span class="glyphicon sort-icon" *ngIf="key =='min_cash_remainings'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>

      </tr>

      </thead>


      <tbody>
      <tr *ngFor="let client of clients; let i = index" (click)="setClickedRow(i,client)" [ngClass]="{'selected': (i == selectedRow && selected == true),'notSelected':(i == selectedRow && selected == false)}">
        <td>{{client.FIO}} </td>
        <td>{{client.character}}</td>
        <td>{{client.dateOfBirth}}</td>
        <td>{{client.totalCashRemainings}}</td>
        <td>{{client.maxRemainings}}</td>
        <td>{{client.minRemainings}}</td>

        <!--<td><button type="button" (click)="delete(client)" class="btn"><i class="fa fa-user-times"></i></button></td>
        <td><button (click)="openDialog(client)" class="btn btn-light">...</button></td>-->
      </tr>
      </tbody>



    </table>
      <!-- Pagination -->
      <ul class="nav nav-pills">
      <li class="nav-item" *ngFor="let p of pages; let i=index">
        <a class="nav-link"  href="" (click)="setPage(i, $event)" [ngClass]="{'active':i==page}">{{i+1}}</a>
      </li>
        <li class="nav-item" style="margin-left:15px;padding-top: 10px;">
          <select (click)="setRows($event.target.value,$event)">
            <option *ngFor="let s of shortcutPages" >{{s}}</option>
          </select>
        </li>
        <li class="nav-item" style="margin-left:15px;padding-top: 10px;">
          Total elements: {{totalElements}}
        </li>
      </ul>



      <br><br>

    </div>


    <div class="col-sm-1">
        <button id="addClientBtn" type="button" (click)="openAddDialog(null)" class="btn fa fa-plus"></button>
        <button (click)="openDialog()" class="btn btn-light" [disabled]="isDisabled">...</button>
        <button type="button" [disabled]="isDisabled" (click)="delete()" class="btn"><i class="fa fa-minus"></i></button>
    </div>

  </div>

</div>

<!-- filter sort-->

<!--end -->



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
