<h5 mat-dialog-title>Add client</h5>
<div mat-dialog-content>
  <input class="form-control" matInput [(ngModel)]="data.fio">
  <input class="form-control" matInput [(ngModel)]="data.character">
  <input class="form-control" matInput [(ngModel)]="data.age">
  <input class="form-control" matInput [(ngModel)]="data.total_cash_rem">
  <input class="form-control" matInput [(ngModel)]="data.max_rem">
  <input id="lastAddClientInput" class="form-control" matInput [(ngModel)]="data.min_rem">
</div>
<div mat-dialog-actions>
  <button class="btn btn-success" mat-button [mat-dialog-close]="data.fio" cdkFocusInitial>Save</button>
  <button class="btn btn-light" mat-button (click)="onNoClick()">Cancel</button>
</div>
