<h5 mat-dialog-title>Add client</h5>
<div mat-dialog-content>

  <label for="surname">Surname <span style="color:red">*</span></label>
  <input #surname [(ngModel)]="surnameInput" (ngModelChange)="inputsIsEmpty()" id="surname" class="form-control" >



  <label for="name">Name <span style="color:red">*</span></label>
  <input #name [(ngModel)]="nameInput" (ngModelChange)="inputsIsEmpty()" id="name" class="form-control" matInput >



  <label for="patronymic">Patronymic</label>
  <input #patronymic id="patronymic" class="form-control">



  <label for="gender">Gender <span style="color:red">*</span></label>
  <br>
  <select [(ngModel)]="clientDetails.gender" (ngModelChange)="inputsIsEmpty()" id="gender" class="form-control">
    <option>Male</option>
    <option>Female</option>
  </select>
  <br>


  <label for="birthday">Date of birth <span style="color:red">*</span></label>
  <input #dateOfBirth [(ngModel)]="clientDetails.dateOfBirth" (ngModelChange)="inputsIsEmpty()" type="date" id="birthday" class="form-control">


  <label for="characterOption">Character <span style="color:red">*</span></label><br>
  <select [(ngModel)]="clientRecord.character" id="characterOption" class="form-control" name="character">
    <option *ngFor="let characterType of characterTypes">{{characterType}}</option>
  </select>


  <br>
  <h4>Address</h4>
  <label for="street">Street</label>
  <input id="street" [(ngModel)]="clientAddress.street" class="form-control" matInput >



  <label for="house">House</label>
  <input id="house" [(ngModel)]="clientAddress.house" class="form-control" matInput >



  <label for="flatNumberLbl">Flat number</label>
  <input id="flatNumberLbl" [(ngModel)]="clientAddress.flatNumber" class="form-control" matInput >



  <br>
  <h4>Registered Address <span style="color:red">*</span></h4>

  <label for="streetLbl">Street</label>
  <input #regStreet [(ngModel)]="clientRegisteredAddress.registeredStreet" (ngModelChange)="inputsIsEmpty()"  id="streetLbl" class="form-control" matInput >

  <label for="houseLbl">House</label>
  <input #regHouse [(ngModel)]="clientRegisteredAddress.registeredHouse" (ngModelChange)="inputsIsEmpty()"  id="houseLbl" class="form-control" matInput >

  <label for="flatLbl">Flat</label>
  <input #regFlat [(ngModel)]="clientRegisteredAddress.registeredFlatNumber" (ngModelChange)="inputsIsEmpty()"  id="flatLbl" class="form-control" matInput >


  <h3>Phone numbers</h3>

  <label >Mobile <span style="color:red">*</span></label>
  <br>
  <div *ngFor="let phone of clientPhoneNumbers; let i = index" class="addPhoneNumberInputs">
    <label style="color:red">{{warning[i]}}</label><br>
    <select *ngIf="i!=0" id="selectPhoneType" [(ngModel)]="phone.phoneType" class="form-control selectPhoneType">
      <option *ngFor="let phoneType of phoneTypes">{{phoneType}}</option>
    </select>
    <input [(ngModel)]="phone.phoneNumber" name="mobileInput" (ngModelChange)="inputsIsEmpty(i)"  placeholder="87059513095" id="firstNumber" class="form-control firstNumber" matInput>
    <button *ngIf="i==0" id ="addPhoneNumber" class="btn btn-success" (click)="addPhone(i, phone.phoneNumber,phone.phoneType)">+</button>
    <button *ngIf="i!=0" id ="deletePhoneNumber" class="btn btn-success" (click)="deletePhone(i)">-</button>
  </div>



  <br><br>

</div>

<div mat-dialog-actions>

  <button id="addSaveChanges" [disabled]="inputIsEmpty" (click)="onAddClientClick(surname.value, name.value, patronymic.value)" class="btn btn-success"
          mat-button [mat-dialog-close]="clientRecord" cdkFocusInitial>Add client</button>

  <button class="btn btn-light" mat-button (click)="onNoClick()">Cancel</button>
</div>

