button#addSaveChanges{
  margin-right: 10px;
  width: 45%;
}

#firstNumber{
  width: 50%;
  float:left;
}
#firstNumber2{
  width: 50%;
}

#firstNumber3{
  width: 50%;
}

#firstNumber4{
  width: 50%;
}
#firstNumber5{
  width: 50%;
}


button.btn-success{
  margin-left: 5px;
}

button.btn-light{
  margin-left: 10px;
  width: 45%;
}
input{
  margin-bottom: 10px;
}

#lastAddClientInput{
  margin-bottom: 10px;
}

h5{
  text-align: center;
}

select#selectPhoneType{
  width:30%;
  float: left;
  margin-right: 10px;
}

select#selectPhoneType2{
  width:30%;
  float: left;
  margin-right: 10px;
}

select#selectPhoneType3{
  width:30%;
  float: left;
  margin-right: 10px;
}

select#selectPhoneType4{
  width:30%;
  float: left;
  margin-right: 10px;
}

select#selectPhoneType5{
  width:30%;
  float: left;
  margin-right: 10px;
}



