<h5 mat-dialog-title>Edit client data</h5>
<div mat-dialog-content>

    <label for="surname">Surname <span style="color:red">*</span></label>
    <input #surname id="surname" name="editSurname" [(ngModel)]="surnameInput" (ngModelChange)="inputsIsEmpty()" class="form-control" >


    <label for="name">Name <span style="color:red">*</span></label>
    <input #name id="name" name="editName" [(ngModel)]="nameInput" (ngModelChange)="inputsIsEmpty()" class="form-control" matInput >


    <label for="patronymic">Patronymic</label>
    <input #patronymic id="patronymic" class="form-control" >


    <label for="gender">Gender <span style="color:red">*</span></label>
    <br>
    <select [(ngModel)]="selectedGender" (ngModelChange)="inputsIsEmpty()" name="gender" id="gender" class="form-control">
      <option>Male</option>
      <option>Female</option>
    </select>
    <br>


    <label for="birthday">Date of birth <span style="color:red">*</span></label>
    <input #date [(ngModel)]="dateOfBirthInput" name="editDateOfBirth" (ngModelChange)="inputsIsEmpty()" type="date" id="birthday" class="form-control">



    <label for="characterOption">Character <span style="color:red">*</span></label><br>
    <select [(ngModel)]="characterOption" id="characterOption" class="form-control" name="character">
      <option *ngFor="let characterType of characterTypes">{{characterType}}</option>
    </select>

    <br>
    <h4>Address</h4>
    <label for="street">Street</label>
    <input #street id="street" class="form-control" matInput >


    <label for="house">House</label>
    <input #house id="house" class="form-control" matInput >


    <label for="flatNumberLbl">Flat number</label>
    <input #flatNumber id="flatNumberLbl" class="form-control" matInput >



    <br>
    <h4>Registered Address <span style="color:red">*</span></h4>

    <label for="streetLbl">Street</label>
    <input #regStreet [(ngModel)]="regStreetInput" name="editRegStreet" (ngModelChange)="inputsIsEmpty()" id="streetLbl" class="form-control" matInput >

    <label for="houseLbl">House</label>
    <input #regHouse [(ngModel)]="regHouseInput" name="editRegHouse" (ngModelChange)="inputsIsEmpty()" id="houseLbl" class="form-control" matInput >

    <label for="flatLbl">Flat</label>
    <input #regFlat [(ngModel)]="regFlatInput" name="editRegFlat" (ngModelChange)="inputsIsEmpty()" id="flatLbl" class="form-control" matInput >


  <h3>Phone numbers</h3>

  <label >Mobile <span style="color:red">*</span></label>
  <br>
  <div class="addPhoneNumberInputs">
    <input #firstNumber [(ngModel)]="mobileInput" (ngModelChange)="inputsIsEmpty()"  placeholder="87059513095" id="firstNumber" class="form-control firstNumber" matInput>
    <button id ="addPhoneNumber" class="btn btn-success" (click)="addPhone()">+</button>
  </div>


  <!-------------------------------------------------------------------------------------------------
-->
  <br><br>
  <div class="input-remove-group">
    <select id="selectPhoneType2" class="form-control selectPhoneType" *ngIf="phoneInputIsVisible2" >
      <option *ngFor="let phoneType of phoneTypes">{{phoneType}}</option>
    </select>

    <div *ngIf="phoneInputIsVisible2" class="addPhoneNumberInputs2">
      <input placeholder="87059513095" [(ngModel)]="mobileInput2" id="firstNumber2" class="form-control firstNumber" matInput>

    </div>
    <button id="removePhoneNumber2" class="btn btn-default fa fa-minus" *ngIf="phoneInputIsVisible2" (click)="removePhone2()" ></button>
  </div>



  <!------------------------------------------------------------------------------------------------
  -->


  <div class="input-remove-group">
    <select id="selectPhoneType3" class="form-control selectPhoneType" *ngIf="phoneInputIsVisible3" >
      <option *ngFor="let phoneType of phoneTypes">{{phoneType}}</option>
    </select>

    <div *ngIf="phoneInputIsVisible3" class="addPhoneNumberInputs3">
      <input placeholder="87059513095" [(ngModel)]="mobileInput3" value="87059513095" id="firstNumber3" class="form-control firstNumber" matInput>
    </div>


    <button id="removePhoneNumber3" class="btn btn-default fa fa-minus" *ngIf="phoneInputIsVisible3" (click)="removePhone3()" ></button>
  </div>
  <!-----------------------------------------------------------------------------------------
  -->

  <div class="input-remove-group">
    <select id="selectPhoneType4" class="form-control selectPhoneType" *ngIf="phoneInputIsVisible4" >
      <option *ngFor="let phoneType of phoneTypes">{{phoneType}}</option>
    </select>

    <div *ngIf="phoneInputIsVisible4" class="addPhoneNumberInputs4">
      <input placeholder="87059513095" [(ngModel)]="mobileInput4" value="87059513095" id="firstNumber4" class="form-control" matInput>
    </div>


    <button id="removePhoneNumber4" class="btn btn-default fa fa-minus" *ngIf="phoneInputIsVisible4" (click)="removePhone4()" ></button>
  </div>


  <!-----------------------------------------------------------------------------
  -->

  <div class="input-remove-group">

    <select id="selectPhoneType5" class="form-control selectPhoneType" *ngIf="phoneInputIsVisible5" >
      <option *ngFor="let phoneType of phoneTypes">{{phoneType}}</option>
    </select>


    <div *ngIf="phoneInputIsVisible5" class="addPhoneNumberInputs5">
      <input placeholder="87059513095" id="firstNumber5" class="form-control" matInput>
    </div>

    <button id="removePhoneNumber5" class="btn btn-default fa fa-minus" *ngIf="phoneInputIsVisible5" (click)="removePhone5()" ></button>

  </div>

  <br><br>

</div>
<div mat-dialog-actions>
  <button id="saveChanges" [disabled]="inputIsEmpty" (click)="onEditClient(surname.value,name.value,patronymic.value,date.value,street.value,
  house.value,flatNumber.value,regStreet.value,regHouse.value,regFlat.value)" class="btn btn-success" mat-button [mat-dialog-close]="data.id" cdkFocusInitial>Save changes</button>
  <button class="btn btn-light" mat-button (click)="onNoClick()">Cancel</button>
</div>
