button#saveChanges{
  margin-right: 10px;
  width: 45%;
}
button.btn-light{
  margin-left: 10px;
  width: 45%;
}
input{
  margin-bottom: 10px;
}

#lastEditClientInput{
  margin-bottom: 10px;
}

h5{
  text-align: center;
}
select#selectPhoneType{
  width:30%;
  float: left;
}
#firstNumber{
  width: 10%;
}
#secondThreeNumber{
  width: 15%;
}
#lastNumbers{
  width: 20%;
}

#removePhoneNumber{
  margin-left: 10px;
}

.addPhoneNumberInputs input{
  margin-left: 10px;
  float: left;
}
