button#saveChanges{
  margin-right: 10px;
  width: 45%;
}
button.btn-light{
  margin-left: 10px;
  width: 45%;
}
input{
  margin-bottom: 10px;
}

#lastEditClientInput{
  margin-bottom: 10px;
}

button.btn-success{
  margin-left: 5px;
}

h5{
  text-align: center;
}

#firstNumber, #firstNumber2, #firstNumber3, #firstNumber4, #firstNumber5{
  width: 50%;
  float:left;
}

select#selectPhoneType, select#selectPhoneType2, select#selectPhoneType3, select#selectPhoneType4, select#selectPhoneType5{
  width:30%;
  float: left;
  margin-right: 10px;
}

#removePhoneNumber2, #removePhoneNumber3,#removePhoneNumber4, #removePhoneNumber5{
  margin-left: 5px;
  margin-bottom: 10px;
}

